/* google font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap");

/* variable css */
:root {
  --header-height: 3.5rem;
  --first-color: #47949c;
  --alt-color: #393e41;
  --lite-color: #d3d0cb;
  --second-color: #ffc300;
  --title-color: #587b7f;
  --text-color: #000814;
  --lite-text-color: #dee0d8;
  --border-color: #1e2019;
  --body-color: #f8f9fa;
  --contain-color: #f8f9fa;

  --body-font: "Nunito", sans-serif;
  --xl-font: 37px;
  --h1-font: 24px;
  --h2-font: 20px;
  --h3-font: 16px;
  --nm-font: 14px;
  --s-font: 12.8px;
  --xs-font: 12px;
  --font-md: 400;
  --font-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* media queries: large-screen, tab-screen, mobile-screen */

@media screen and (min-width: 1024px) {
  :root {
    --body-font: "Nunito", sans-serif;
    --xl-font: 64px;
    --h1-font: 36px;
    --h2-font: 26px;
    --h3-font: 20px;
    --nm-font: 16.4px;
    --s-font: 14px;
    --xs-font: 12.6px;
  }
}

@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    bottom: 33px;
    /* padding: 10px; */
    background-color: var(--contain-color);
    box-shadow: 0 8px 24px hsla(186, 18%, 42%, 0.6);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 20px;
    transition: 0.4s;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    color: var(--text-color);
    display: flex;
    padding: 7px;
    border-radius: 50%;
  }

  .nav-link i {
    font-size: 20px;
  }

  .nav-link span {
    display: none;
  }

  a.nav-button {
    display: none;
  }
}

/* base css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--nm-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  /* color: var(--title-color); */
  color: var(--text-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/* recycle css (reusable) */
.container {
  max-width: 1024px;
  margin-left: 24px;
  margin-right: 24px;
}

.button {
  display: inline-block;
  background: linear-gradient(rgb(139, 187, 179), rgb(161, 237, 247));
  cursor: pointer;
  font-size: var(--nm-font);
  font-weight: var(--nm-font);
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(31, 71, 77, 0.25);
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 4px 12px rgba(31, 71, 77, 0.25);
}

.scroll-header {
  background-color: transparent;
  /* box-shadow: 0 1px 4px rgba(44, 35, 35, 1); */
}

.scroll-header .nav-logo {
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

.grid {
  display: grid;
}

.section {
  padding: 70px 0 32px;
}

.section-title {
  font-size: var(--h2-font);
  margin-bottom: 16px;
}

.section-title span {
  color: var(--second-color);
  text-transform: capitalize;
}

.seciton-subtitle {
  display: block;
  font-size: var(--s-font);
  color: var(--second-color);
}

/* theme */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: var(--lite-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  text-transform: uppercase;
  column-gap: 4px;
  font-weight: 700;
  transition: 0.3s;
}

.nav-logo i {
  font-size: 16px;
  margin-bottom: 2.5px;
}

.nav-link span {
  text-transform: capitalize;
}

.home {
  background: linear-gradient(170deg, hsl(0, 0%, 25%) 2%, hsl(0, 0%, 10%) 70%);
  padding-bottom: 0;
}

.home-container {
  padding-top: 64px;
  row-gap: 56px;
}

.home-title,
.award-detail {
  /* font-weight: 700; */
  color: var(--body-color);
}

.home-title h1 {
  color: var(--second-color);
  font-weight: 700;
  text-transform: capitalize;
  font-size: var(--xl-font);
  line-height: 120%;
  margin-bottom: 20px;
}

.home-details {
  color: var(--first-color);
  margin-bottom: 32px;
}

.house-search {
  background-color: var(--body-color);
  width: 90%;
  justify-content: space-between;
  padding: 12px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  border: 3px solid var(--body-color);
  margin-bottom: 8px;
  overflow: hidden;
}
.house-search i {
  color: var(--second-color);
  font-size: 20px;
}

.house-search label {
  display: flex;
  margin-left: 5px;
  text-transform: capitalize;
  color: var(--first-color);
}

.house-search input {
  width: 90%;
  background: transparent;
  background-color: var(--body-color);
  margin: 0 8px;
}

.house-search input::placeholder {
  outline: none;
  background: none;
}

.casa-value {
  display: flex;
  margin-left: 15px;
  column-gap: 45px;
  margin-top: 30px;
}

.casa-awards {
  font-size: var(--h1-font);
  font-weight: var(--font-md);
}

.casa-awards span {
  color: var(--second-color);
  margin-left: -10px;
}

.award-detail {
  display: flex;
  text-transform: capitalize;
  color: var(--lite-text-color);
  font-size: var(--xs-font);
}

.image-section {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-orb {
  width: 350px;
  height: 240px;
  /* border: 2px solid green; */
  align-items: center;
  background: linear-gradient(
    135deg,
    rgb(184, 158, 149) 5%,
    rgb(83, 63, 63),
    100%
  );
  border-radius: 75px 10px 75px 10px;
}

.home-img {
  position: absolute;
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 75px 10px 75px 10px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  /* top: 20px; */
  box-shadow: 0px 20px 40px rgb(9, 96, 102);
  bottom: -60px;
}

.section-subtitle,
.section-title {
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.popular-container {
  /* display: flex; */
  padding: 16px 0 80px;
}
.popular-card {
  width: 450px;
  height: auto;
  background-color: var(--contain-color);
  padding: 24px;
  border-radius: 17px;
  margin: 0 auto 45px auto;
  transition: 0.4s;
  transform: ease;
}

.popular-card:hover {
  box-shadow: 0 12px 16px hsla(54, 55%, 27%, 0.582);
}
.popular-house-img {
  border-radius: 55px 10px 55px 10px;
  margin: 10px 0 20px 0;
  opacity: 0.88;
  transition: 0.3s;
}

.popular-house-img:hover {
  transform: ease-in;
  opacity: 1;
}

.popular-house-data {
  padding: 0 16px 0 8px;
}

.popular-house-price {
  font-size: var(--h2-font);
  font-weight: bolder;
  color: var(--text-color);
  margin-bottom: 4px;
}

.popular-house-price span {
  color: var(--second-color);
}

.popular-house-title {
  color: var(--title-color);
  font-size: var(--h3-font);
  margin-bottom: 10px;
}

.popular-details {
  justify-content: center;
  align-items: center;
  font-size: var(--s-font);
  color: var(--border-color);
  line-height: 20px;
}


.about-container {
    row-gap: 48px;
}

.about-images {
    position: relative;
    display: flex;
    justify-content: center;
}

.about-data {
    font-size: var(--s-font);
    line-height: 22px;
}

.about-accordion {
    /* font-size: var(--s-font); */
    display: grid;
    row-gap: -5px;
}

.accordion-item {
    background-color: var(--body-color);
    /* border: 1px solid var(--border-color); */
    border-radius: 10px;
    padding: 16px 12px;
}

.about-accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion-header-icon {
    color: var(--first-color);
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 18px;
    transition: .3s;
}

.accordion-title {
    font-size: var(--nm-font);
}

.about-accordion-arrow {
    display: inline-flex;
    font-size: 25px;
    border-radius: 10px;
    padding: 2px 4px;
    color: var(--second-color);
    background-color:hsla(52, 4%, 38%, 0.582);    
    margin-left: auto;
    transition: .3s;
    cursor: pointer;
}

.about-accordion-arrow i {
    transition: .4s;
}

.accordion-data {
    font-size: var(--s-font);
    padding: 20px 40px 0 44px;
}

.accordion-content {
    overflow: hidden;
    height: 0;
    transition: all .25s ease; 
}

.accordion-open {
    box-shadow: 0 12px 32px rgba(6, 46, 46, 0.1);
}


.accordion-open .about-accordion-icon {
    box-shadow: 0 4px 4px rgba(22, 70, 62, 0.1);
}


.contact-container {
    row-gap: 32px;
}

.contact-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(54, 55%, 27%, 0.582));
}

.contact-data {
    font-size: var(--s-font);
    
}

/* might need to change hex to hsl for dark and light mode */
